@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 5em;
	font-weight: bold;
	text-shadow: 3px 3px 5px #333;
	text-decoration: none;
	color: #FF5E49;
}
.arrow {
      width: 250px;
      overflow: hidden;
      transition: all 0.2s;
      transform: rotate(0deg);
      display: inline-block;
    }
    .speed {
      color: black;
      font-weight: 100;
      font-size: 60px;
      display: flex;
      align-items: center;
    }
    .units {
      font-size: 15px;
    }