@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 5em;
	font-weight: bold;
	text-shadow: 3px 3px 5px #333;
	text-decoration: none;
	color: #FF5E49;
}
div {
  background-color: lightgrey;
  border: 15px solid #B3FFD2;
  padding: 50px;
  margin: 20px;
}
div2 {
  background-color: lightgrey;
  border: 15px solid #B3FFD2;
  padding: 50px;
  margin: 20px;
}
.words {
      max-width: 500px;
      margin: 50px auto;
      background: white;
      border-radius: 5px;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
      padding: 1rem 2rem 1rem 5rem;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
      background-size: 100% 3rem;
      position: relative;
      line-height: 3rem;
    }
    
    p {
      margin: 0 0 3rem;
    }
    .words:before {
      content: '';
      position: absolute;
      width: 4px;
      top: 0;
      left: 30px;
      bottom: 0;
      border: 1px solid;
      border-color: transparent #efe4e4;
    }
