@charset "utf-8";
/* CSS Document */
body {
  font-family: "Lato", sans-serif;
	background-color: black;
}
.topnav {
    overflow: hidden;
    background-color: rgb(40,40,40);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    border-bottom: 4px solid #7fffd4;
}
.topnav a {
    float: left;
    color: #7fffd4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all ease-in-out 200ms;
}
.topnav a:hover {
    background-color: #eee;
    color: black;
}
.topnav a.active {
    background-color: #eee;
    color: white;
}


.main {
  padding: 50px 20px;
	  font-size: 28px; /* Increased text to enable scrolling */
	background-color: darkgrey;
	color: floralwhite;
}

.gg {
  	background: url(mylogo.png) repeat;
}
div.gg {
  margin: 30px;

  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.gg p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 3em;
	font-weight: bold;
	text-shadow: 3px 3px 5px #333;
	text-decoration: none;
	color: #DD292C;
}
h2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 2em;
	font-weight: bold;
	text-shadow: 3px  #333;
	text-decoration: none;
}
h2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 2em;
	font-weight: bold;
	text-shadow: 3px  #333;
	text-decoration: none;
}
p {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
	font-weight: 200;
	text-shadow: 3px  #333;
	text-decoration: none;
	color: white;
}