@charset "utf-8";
/* CSS Document */
html, body {
  background-color: #282B40;
  margin: 10px;
}
h1 {
	font-family:Lucida Sans Unicode", "Lucida Grande", sans-serif";
	color: white;
	font-size: 3em;
}
.container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: 250px 250px;
	padding: 200px; 
	padding-top: 50px;
	position: center;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #ffeead;
}
.container > div:nth-child(1n) {
  background-color: #030055;	
}

.container > div:nth-child(3n) {
  background-color: #C23525;
}

.container > div:nth-child(2n) {
  background-color: #81EAFF;
}

.container > div:nth-child(4n) {
  background-color: #E7FF61;
}
.container > div:nth-child(5n) {
  background-color: #29C2A8;
}